#map {
  height: 100vh;
  width: 100vw;
}
#searchbar {
  top: 50px;
  left: 75px;
  z-index: 2000;
  width: 80vw;
  height: 6vh;
  color: gray;
}
#searchcontainer {
  top: 50px;
  left: 75px;
  z-index: 2000;
  width: 80vw;
  color: gray;
}
